body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Poppins;
  background-color: #f3f3f3;
}

h2 {
  margin: 0px;
}

a {
  text-decoration: none;
}

.logo {
  width: 100%;
  margin-top: 37px;
  margin-bottom: 33px;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0px auto;
  background-color: #fff;

  &__header {
    width: 100%;
    background-color: #131a36;
    height: 427px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    &--bg {
      width: 60%;
    }
  }

  &__body {
    width: calc(100% - 86px);
    padding: 43px 43px 69px 43px;

    &__content {
      width: 100%;
      text-align: center;
    }
  }
}

.sub-title {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #141c3a;

  &.people {
    margin-top: 36px;
  }
}

.sub-title-description {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #444444;
  margin-top: 37px;
}

.btn-try {
  display: inline-block;
  width: 201px;
  height: 50px;
  line-height: 2.3;
  border-radius: 30px;
  text-align:center;
  font-weight: 600;
  background-color: #7fc6b9;
  color: #fff;
  padding-top: 10px;
  margin-top: 35px;
  font-size: 18px;
}

.link-description {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #94a9a6;
  margin-top: 37px;
}

.people-description {
  margin-top: 74px;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #444444;

  .emphasize {
    color: #7ec5b8;
  }
}

.img-connect {
  width: 80%;
  margin-top: 76px;
}

.btn-click {
  display: inline-block;
  width: 311px;
  height: 57px;
  line-height: 2.3;
  border-radius: 35px;
  text-align:center;
  font-weight: 600;
  background-color: #7fc6b9;
  color: #fff;
  padding-top: 17px;
  margin-top: 35px;
  font-size: 18px;
}

@media only screen and (max-width: 320px) {
  .btn-click {
    width: 231px;
    padding-top: 17px;
    height: 47px;
    font-size: 15px;
  }
}